@charset "UTF-8";

/* Default Setting */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  border: none;
  color: inherit;
}
*:focus {
  outline: none;
}

/* Font Setting */
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(../font/BarlowSemiCondensed-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../font/NanumSquareL.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../font/NanumSquareR.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../font/NanumSquareB.ttf);
  font-style: bold;
  font-weight: 700;
}
* {
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0;
  line-height: 1.6;
}
.ko_txt {
  font-family: "NanumSquare", sans-serif !important;
  letter-spacing: -0.5px;
}

html {
  -webkit-text-size-adjust: 100%;
}

/* Font - header */
.topMenu,
.langOpt {
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .topMenu {
    font-size: 16px;
  }
}
.topMenu .ko_txt {
  font-size: 16px;
  font-weight: 500;
}

/* Font - main */
.mainIndex {
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .mainIndex {
    font-size: 14px;
  }
}
.mainTit {
  font-size: 86px;
  line-height: 1;
  font-weight: 700;
}
@media only screen and (min-width: 990px) and (max-width: 1480px) {
  .mainTit {
    font-size: 56px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .mainTit {
    font-size: 40px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .mainTit {
    font-size: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .mainTit {
    font-size: 28px;
  }
}
.subTit {
  font-size: 55px;
  line-height: 1;
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .subTit {
    font-size: 38px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .subTit {
    font-size: 28px;
  }
}
@media only screen and (max-width: 500px) {
  .subTit {
    font-size: 14px;
  }
}
.mainTxt {
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .mainTxt {
    font-size: 14px;
  }
}
.page_1 .mainTxt {
  font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .page_1 .mainTxt {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .page_1 .mainTxt {
    font-size: 14px;
  }
}
.mainBtn {
  font-size: 18px;
  font-weight: 700;
}
.page_1 .mainBtn {
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .mainBtn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .mainBtn {
    font-size: 14px;
  }
}
.newsBox {
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .newsBox {
    font-size: 13px;
  }
}
.newsBox_title {
  font-weight: 500;
}

/* Font - background */
.mainBg {
  font-weight: 900;
  letter-spacing: -3px;
  white-space: nowrap;
}
.mainBg.page_1 {
  font-size: 18vw;
}
.mainBg.page_2 {
  font-size: 15vw;
}
.mainBg.page_3 {
  font-size: 18vw;
}
.mainBg.page_4 {
  font-size: 13.5vw;
}
.mainBg.page_5 {
  font-size: 16vw;
}

/* Font - burger menu */
.main_burgerBtn {
  font-size: 14px;
  font-weight: 400;
}
.burgerMenu {
  font-size: 28px;
  font-weight: 700;
}
.burgerMenu .ko_txt {
  font-size: 22px;
  font-weight: 700;
}
.burgerSub {
  font-size: 20px;
  font-weight: 400;
}
.burgerSub .ko_txt {
  font-size: 15px;
  font-weight: 400;
}
.burgerTit {
  font-size: 18px;
  font-weight: 500;
}
.burgerTxt {
  font-size: 16px;
  font-weight: 400;
}
.burgerCS p b {
  font-size: 23px;
  font-weight: 700;
}
.burger_foot {
  font-weight: 500;
}

/* Color Setting */
/* Color - header */
.topMenu.page_1,
.topMenu.page_3,
.topMenu.page_5 {
  color: rgba(255, 255, 255, 0.5);
}
.topMenu.page_2,
.topMenu.page_4 {
  color: #33333399;
}
.topMenu a::after {
  background-image: linear-gradient(to right, rgb(228, 244, 46) 0%, rgb(30, 156, 3) 100%);
}
.topSub {
  border: 1px solid rgba(255, 255, 255, 0.11);
}
.topSub li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
}
.topSub li:last-child {
  border: none;
}
.topMenu .topSub li {
  color: rgba(255, 255, 255, 0.5);
}

/*Color - main */
.page_1,
.page_3,
.page_5 {
  color: #fff;
}
.page_2,
.page_4 {
  color: #111;
}
.page_1 .mainTxt {
  color: #ffffffd9;
}
.newsBox_title {
  color: #fff;
}
.newsTit,
.newsDate {
  color: #ffffff99;
}

/* Color - background */
.txt_line {
  background-color: rgba(185, 185, 185, 0.2);
}
.txtBox_on,
.txtBox_beneath {
  color: inherit;
}
.mainBg.page_1 {
  color: rgba(235, 235, 235, 0.04);
}
.mainBg.page_2 {
  color: rgba(33, 33, 33, 0.06);
  background: #fff;
}
.mainBg.page_3 {
  color: rgba(235, 235, 235, 0.04);
}
.mainBg.page_4 {
  color: rgba(33, 33, 33, 0.06);
  background: #f3f3f3;
}
.mainBg.page_5 {
  color: rgba(247, 247, 247, 0.1);
}

/* Color - burger menu */
.main_burgerBtn {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(22, 26, 28, 0.9);
}
@media only screen and (max-width: 767px) {
  .main_burgerBtn {
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }
}
.burger_container {
  color: #343434;
  background: #fff;
}
.burgerSub li::before {
  background-color: rgbA(52, 52, 52, 0.3);
}
.burgerTxt {
  color: #34343499;
}
.burger_foot {
  background: #f2f2f2;
}

/* Frame Setting */
html {
  overflow-x: hidden;
}
/* Frame - header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 888;
}
.header_inner {
  height: 110px;
  margin: 0px auto;
  padding: 0 3.5%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .header_inner {
    height: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .header_inner {
    height: 80px;
    padding: 0 15px;
  }
}
.topLogo_container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .topLogo {
    background-size: 70% !important;
  }
}
.topMenu {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  .topMenu {
    display: none;
  }
}
.topMenu > li:nth-child(-n + 6) {
  padding: 0 calc(2.5vw - 15px);
}
.topMenu > li:last-child {
  display: flex;
  align-items: center;
}
.topMenu .langOpt {
  width: 50px;
  display: flex;
  justify-content: space-between;
}
.topMenu > li > a {
  display: block;
  height: 110px;
  line-height: 110px;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .topMenu > li > a {
    height: 90px;
    line-height: 90px;
  }
}

.topMenu > li > a::after,
.langOpt li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 35px;
}
.topMenu > li:nth-last-child(2) {
  position: relative;
}
.topSub {
  width: 100%;
  position: absolute;
  right: 0;
  top: 80px;
}
.topSub a {
  display: block;
  height: 40px;
  padding: 8px 15px;
  box-sizing: border-box;
  line-height: 24px;
}

/* Frame - main */
main {
  width: 100%;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.section_inner {
  width: 100%;
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 100px;
  overflow-x: hidden;
}
.page_1 .section_inner {
  padding-top: 150px;
}
.page_2 .section_inner,
.page_3 .section_inner {
  text-align: center;
}
.page_4 .section_inner {
  display: flex;
}
.page_4 .flex_left {
  margin-right: 60px;
}
.page_4 .flex_right {
  display: flex;
  align-items: center;
}
.mainImg_container img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .section_inner {
    text-align: center;
  }
  .page_1 .section_inner {
    padding-top: 185px;
  }
  .page_4 .section_inner {
    display: block;
  }
  .page_4 .flex_left {
    margin: 0;
  }
  .page_4 .flex_right {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .pag1 .section_inner {
    padding-top: 185px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .page_1 .section_inner {
    padding: 0 60px;
  }
  .section_inner {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 500px) {
  .page_1 .section_inner {
    padding: 0 15px;
  }
  .section_inner {
    padding: 0 30px;
  }
}
.page_2 .mainIndex,
.page_3 .mainIndex {
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .mainIndex {
    margin: 0 auto;
  }
}
.mainTit,
.subTit {
  margin-top: 15px;
}
.page_1 .mainTit:first-child {
  margin-top: 55px;
}
@media only screen and (max-width: 767px) {
  .mainTit {
    margin-top: 5px;
  }
  .page_1 .mainTit:first-child {
    margin: 0;
  }
}
.mainIcon {
  margin: 25px auto 15px;
}
.mainTxt {
  margin: 13.6px 0;
  word-break: keep-all;
}
.page_1 .mainTxt {
  margin: 45px 0 30px;
}
@media only screen and (max-width: 767px) {
  .page_1 .mainTxt {
    margin: 25px 0 15px;
  }
  .page_2 br,
  .page_3 br,
  .page_4 br {
    display: none;
  }
}
.mainBtn {
  margin-top: 40px;
}
.page_1 .mainBtn {
  margin-top: 0;
}
.page_2 .mainBtn,
.page_3 .mainBtn {
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .mainBtn {
    margin: 0 auto;
  }
}
.newsBox_container {
  margin-top: 50px;
  height: 172px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
@media only screen and (max-width: 1480px) {
  .newsBox_container {
    height: 72px;
  }
}
.newsBox {
  margin: 100px 8px 0;
  width: auto;
  height: 52px;
  position: relative;
}
@media only screen and (min-width: 767px) and (max-width: 1480px) {
  .newsBox {
    margin: 0 8px 0;
  }
}
@media only screen and (max-width: 767px) {
  .newsBox {
    width: 290px;
    margin: 0 auto;
  }
}
.newsBox_title {
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid rgb(225, 225, 225);
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .newsBox_title {
    width: 40px;
  }
}
.news_wrapper {
  width: 475px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .news_wrapper {
    width: 290px;
  }
}
.newsItems {
  display: flex;
  flex-direction: column;
}
.newsItem {
  width: 375px;
  height: 22px;
  padding: 14px 50px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .newsItem {
    width: 210px;
    padding: 14px 40px;
  }
}
.newsTit {
  display: inline-block;
  width: 235px;
  height: 22px;
  line-height: 22px;
  padding-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsDate {
  display: inline-block;
  width: 80px;
  height: 22px;
  line-height: 22px;
  padding-left: 20px;
}
@media only screen and (max-width: 767px) {
  .newsTit {
    width: 200px;
    padding-left: 10px;
  }
  .newsDate {
    display: none;
  }
}
.news_controler {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news_controler span {
  display: block;
  width: 11px;
  height: 6px;
  cursor: pointer;
}
.control_prev {
  margin-bottom: 12px;
}

/* Frame - background */
.mainBg {
  z-index: -999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.txt_line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
}
.txtBox_on,
.txtBox_beneath {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.txt_on,
.txt_beneath {
  position: absolute;
  width: 100%;
  height: 400px;
  line-height: 400px;
  padding-left: calc(10px + 5vw);
}
.txt_on {
  top: -5%;
}
.txt_beneath {
  bottom: 5%;
}
.side_bar_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.side_bar {
  position: absolute;
  top: 50%;
  transform: translateY(-7px);
  left: 3.5vw;
  display: flex;
  flex-direction: column;
  z-index: 111;
}
@media only screen and (max-width: 767px) {
  .side_bar {
    left: 5px;
  }
}
.side_bar li {
  width: 48px;
  height: 16px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .side_bar li {
    width: 28px;
  }
}
@media only screen and (max-width: 500px) {
  .side_bar li {
    width: 14px;
  }
}
.side_bar a {
  display: block;
  width: 50%;
  height: 1px;
  padding: 7.5px 0;
}
.side_bar a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b0b0b0;
}

/* Frame - burger menu */
.main_burgerBtn {
  width: 60px;
  height: 60px;
  padding-top: 32px;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .main_burgerBtn {
    top: 15px;
    right: 15px;
  }
}
.btn_arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.burger_container {
  width: 370px;
  border-left: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  right: -370px;
  bottom: 0;
  z-index: 999;
  overflow-y: scroll;
}
@media only screen and (max-width: 767px) {
  .burger_container {
    width: 100%;
    right: -100%;
    border: none;
  }
}
.burger_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.burger_inner {
  padding: 120px 35px 115px;
}
.burgerMenu li {
  line-height: 1.6;
  margin: 10px 0;
}
.burgerSub li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 1px;
  margin: 0 12px 7px 6px;
}
.burgerCS {
  margin: 35px 0 20px;
}
.burgerOffline {
  margin-bottom: 40px;
}
.burgerTit {
  margin-bottom: 10px;
  padding: 0 0 10px 30px;
  position: relative;
}
.burgerTit::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  position: Absolute;
  left: 0;
  bottom: 0;
}
.burgerCS p b {
  display: inline-block;
  margin-bottom: 10px;
}
.burger_foot {
  width: 100%;
  height: 65px;
  padding: 19px 22px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
.burger_foot li {
  position: relative;
}
.burger_foot li:nth-child(-n + 4):after {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  right: -15px;
  width: 1px;
  height: 8px;
  background-color: #b7b7b7;
}

/* Images Setting */
/* Images - header */
.topLogo {
  display: block;
  width: 133px;
  height: 65px;
}
.topLogo.page_1,
.topLogo.page_3,
.topLogo.page_5 {
  background: url(../img/logo.png) no-repeat center / cover;
}
.topLogo.page_2,
.topLogo.page_4 {
  background: url(../img/logo-b.png) no-repeat center / cover;
}

/* Images - main */
.mainIndex {
  width: 68px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  background: url(../img/m_circle.png) no-repeat center / cover;
}
@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .mainIndex {
    width: 58px;
    height: 58px;
    line-height: 58px;
  }
}
@media only screen and (max-width: 767px) {
  .mainIndex {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}
.mainIcon {
  width: 45px;
  height: 54px;
  background: url(../img/m02_icon.png) no-repeat center / cover;
}
.page_2 .mainIcon {
  transform: rotate(180deg);
}
.mainBtn {
  display: block;
  width: 227px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background: url(../img/m01_btn.png) no-repeat center / cover;
}
@media only screen and (min-width: 768px) and (max-width: 1480px) {
  .mainBtn {
    width: 172px;
    height: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .mainBtn {
    width: 130px;
    height: 38px;
    line-height: 38px;
  }
}
.control_prev {
  background: url(../img/bx-btn.png) no-repeat center / cover;
}
.control_next {
  background: url(../img/bx-btn.png) no-repeat center / cover;
  transform: rotate(180deg);
}

/* Images - background */
.mainBg.page_1 {
  background: url(../img/main_background_1.png) no-repeat center / cover;
}
.mainBg.page_3 {
  background: url(../img/main_background_3.jpg) no-repeat center / cover;
}
.mainBg.page_5 {
  background: url(../img/main_background_5.png) no-repeat center / cover;
}

/* Images - burger menu */
.btn_arrow {
  background: url(../img/main-menu-btn.png) no-repeat center top 8px;
}
@media only screen and (max-width: 767px) {
  .btn_arrow {
    background: url(../img/mo-menu02.png) no-repeat center / cover;
  }
  .btn_arrow.page_2,
  .btn_arrow.page_4 {
    background: url(../img/mo-menu02-1.png) no-repeat center / cover;
  }
}
.burgerTit::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 2px;
}
.burgerCS .burgerTit::before {
  background: url(../img/fo-icon01.png) no-repeat center;
}
.burgerOffline .burgerTit::before {
  background: url(../img/fo-icon02.png) no-repeat center;
}
.facebook {
  display: inline-block;
  width: 9px;
  height: 18px;
  margin-right: 15px;
  background: url(../img/fo-sns01.png) no-repeat center;
}
.pinterest {
  display: inline-block;
  width: 18px;
  height: 19px;
  background: url(../img/fo-sns03.png) no-repeat center;
}

/*  Go Top Btn */
.gotopBtn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 888;
}
@media only screen and (max-width: 767px) {
  .gotopBtn {
    display: none;
  }
}
.gotopBtn a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #34343499;
}

/* Animation Setting */
html {
  scroll-behavior: smooth;
}
a:hover,
a:focus {
  transition: 0.5s;
}

/* Animation - top menu */
.topMenu {
  transition: 0.5s;
}
.topMenu a::after {
  transition: 0.5s;
}
.topMenu li:hover > a::after {
  width: 100%;
}
.langOpt li:hover a::after {
  width: 20px;
}
.topMenu.page_1 > li:hover,
.topMenu.page_3 > li:hover,
.topMenu.page_5 > li:hover {
  color: #ffffff;
}
.topMenu > li:hover > a {
  animation-name: emphasize;
  animation-duration: 0.5s;
}
@keyframes emphasize {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.topSub {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.topMenu li:nth-last-child(2):hover .topSub {
  visibility: visible;
  opacity: 1;
}
.topSub li:hover {
  background: rgba(0, 0, 0, 0.3);
}
.topMenu.page_1 .topSub li:hover,
.topMenu.page_3 .topSub li:hover,
.topMenu.page_5 .topSub li:hover {
  color: #ffffff;
}

.topSub li:hover a {
  animation-name: emphasize;
  animation-duration: 0.5s;
}

/* Animation - burger menu */
.topMenu.act {
  opacity: 0;
}

.main_burgerBtn,
.burger_container {
  transition: 0.5s;
}
.main_burgerBtn.act,
.burger_container.act {
  transform: translateX(-370px);
}
@media only screen and (max-width: 767px) {
  .main_burgerBtn.act {
    transform: rotate(180deg);
  }
  .burger_container.act {
    transform: translateX(-100%);
  }
}
.main_burgerBtn.act {
  color: rgba(0, 0, 0, 0);
}
.main_burgerBtn.act .btn_arrow {
  background: url(../img/main-menu-btn.png) no-repeat center center;
  transform: rotate(180deg);
}
@media only screen and (max-width: 767px) {
  .main_burgerBtn.act .btn_arrow {
    background: url(../img/mo-menu01.png) no-repeat center/ cover;
  }
}

.burgerSub {
  display: none;
}
.burgerSub.act {
  display: block;
}

/* Animation - background */
.mainBg > div:nth-child(n + 2) {
  opacity: 0;
}
.txtBox_on {
  animation: txt_hide_on 0.8s forwards;
}
.txtBox_beneath {
  animation: txt_hide_beneath 0.8s forwards;
}
.txtBox_on.on {
  animation: txt_show_on 0.8s forwards;
}
.txtBox_beneath.on {
  animation: txt_show_beneath 0.8s forwards;
}
@keyframes txt_show_on {
  50% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes txt_show_beneath {
  50% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes txt_hide_on {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
@keyframes txt_hide_beneath {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(50px);
  }
}

.side_bar {
  transition: 0.5s;
}
.side_bar a {
  transition: 0.5s;
}
.side_bar li.act a {
  width: 100%;
}
.side_bar li.act a::after {
  background-image: linear-gradient(to right, #e4f42e 0%, #1e9c03 100%);
}

/* Animation - Go Top Btn */
.gotopBtn {
  visibility: hidden;
  transform: scale(0.8);
  opacity: 0;
  transition: 0.3s ease-out;
}
.gotopBtn.on {
  visibility: visible;
  transform: scale(1);
  opacity: 0.7;
}
