@charset "UTF-8";

/* Default Setting */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
}
a:hover,
a:focus {
  transition: 0.5s;
}

/* Font Setting */
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url(/font/BarlowSemiCondensed-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "NanumSquare";
  src: url(/font/NanumSquareL.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "NanumSquare";
  src: url(/font/NanumSquareR.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquare";
  src: url(/font/NanumSquareB.ttf);
  font-style: bold;
  font-weight: 700;
}
* {
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0;
}
.ko_txt {
  font-family: "NanumSquare", sans-serif !important;
  letter-spacing: -0.5px;
}
html {
  text-size-adjust: 100%;
}
.topMenu,
.langOpt {
  font-size: 18px;
  font-weight: 500;
}
.topMenu .ko_txt {
  font-size: 16px;
  font-weight: 500;
}
.mainIndex {
  font-size: 16px;
  font-weight: 400;
}
.mainTit {
  font-size: 86px;
  line-height: 86px;
  font-weight: 700;
}
.subTit {
  font-size: 55px;
  line-height: 55px;
  font-weight: 300;
}
.mainTxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
.page_1 .mainTxt {
  font-size: 20px;
  line-height: 32px;
}
.mainBtn {
  font-size: 16px;
  font-weight: 700;
}
.burgerBtn {
  font-size: 14px;
  font-weight: 400;
}
.burgerMenu {
  font-size: 28px;
  font-weight: 700;
}
.burgerMenu .ko_txt {
  font-size: 22px;
  font-weight: 700;
}
.burgerSub {
  font-size: 20px;
  font-weight: 400;
}
.burgerSub .ko_txt {
  font-size: 15px;
  font-weight: 400;
}
.burgerTit {
  font-size: 18px;
  font-weight: 500;
}
.burgerTxt {
  font-size: 16px;
  font-weight: 400;
}
.burgerCS p b {
  font-size: 23px;
  font-weight: 700;
}

/* Color Setting */
.page_1,
.page_3,
.page_5 {
  color: #fff;
}
.page_2,
.page_4 {
  color: #111;
}

.topMenu.page_1,
.topMenu.page_3,
.topMenu.page_5 {
  color: rgba(255, 255, 255, 0.5);
}
.topMenu.page_2,
.topMenu.page_4 {
  color: #33333399;
}
.page_1 .mainTxt {
  color: #ffffffd9;
}
.mainBg.page_2 {
  background: #fff;
}
.mainBg.page_4 {
  background: #f3f3f3;
}
/* Frame Setting */
header {
  width: 100%;
  position: fixed;
  top: 0;
}
.header_inner {
  height: 110px;
  margin: 0px auto;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
}
.topLogo_container {
  display: flex;
  align-items: center;
}
.topMenu {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.topMenu > li {
  height: 110px;
  line-height: 110px;
}
.topMenu .langOpt {
  width: 50px;
  display: flex;
  justify-content: space-between;
}
.topSub {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.topSub a {
  padding: 8px 15px;
}
main {
  width: 100%;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.section_inner {
  width: 100%;
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 100px;
}
.page_1 .section_inner {
  padding-top: 150px;
}
.page_2 .section_inner,
.page_3 .section_inner {
  text-align: center;
}
.page_4 .section_inner {
  display: flex;
}
.page_4 .flex_left {
  margin-right: 60px;
}
.page_2 .mainIndex,
.page_3 .mainIndex {
  margin: 0 auto;
}
.mainTit,
.subTit {
  margin-top: 15px;
}
.mainIcon {
  margin: 25px auto 15px;
}
.mainTxt {
  margin: 13.6px 0;
}
.page_1 .mainTxt {
  margin: 45px 0 30px;
}
.mainBtn {
  margin-top: 40px;
}
.page_1 .mainBtn {
  margin-top: 0;
}
.newsBox_container {
  margin-top: 50px;
  height: 172px;
}

/* Images Setting */
.topLogo {
  display: block;
  width: 133px;
  height: 65px;
  background: url(img/logo.png) no-repeat center;
  background-size: cover;
}
.topLogo.page_1,
.topLogo.page_3,
.topLogo.page_5 {
  background: url(img/logo.png) no-repeat center;
}
.topLogo.page_2,
.topLogo.page_4 {
  background: url(img/logo-b.png) no-repeat center;
}
.mainIndex {
  width: 68px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  background: url(img/m_circle.png) no-repeat center;
  background-size: cover;
}
.mainIcon {
  width: 45px;
  height: 54px;
  background: url(img/m02_icon.png) no-repeat center;
  background-size: cover;
}
.page_2 .mainIcon {
  transform: rotate(180deg);
}
.mainBtn {
  width: 227px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background: url(img/m01_btn.png) no-repeat center;
  background-size: cover;
  border: none;
}
.mainBg {
  z-index: -999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(img/main_background_1.png) no-repeat center;
  background-size: cover;
}
.mainBg.page_1 {
  background: url(img/main_background_1.png) no-repeat center;
}
.mainBg.page_3 {
  background: url(img/main_background_3.jpg) no-repeat center;
}
.mainBg.page_5 {
  background: url(img/main_background_5.png) no-repeat center;
}

/* Animation Setting */
.topMenu .ko_txt {
  display: none;
}
.topSub {
  display: none;
}
